<div class="dashboard-container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <h2 class="logo">MiApp</h2>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Usuarios</a></li>
          <li><a href="#">Estadísticas</a></li>
          <li><a href="#">Ajustes</a></li>
        </ul>
      </nav>
    </aside>
  
    <!-- Contenido principal -->
    <div class="main-content">
      <!-- Topbar -->
      <header class="topbar">
        <h1>Panel de Control</h1>
        <div class="user-info">Usuario</div>
      </header>
  
      <!-- Área dinámica -->
      <section class="content">
        <div class="card-grid">
            <div class="card">
              <h3>Usuarios activos</h3>
              <p>128</p>
            </div>
            <div class="card">
              <h3>Visitas hoy</h3>
              <p>430</p>
            </div>
            <div class="card">
              <h3>Ventas</h3>
              <p>$12.340</p>
            </div>
            <div class="card">
              <h3>Soporte</h3>
              <p>4 tickets</p>
            </div>
            
          </div>
          <mat-card>
            <h2 style="margin-bottom: 20px;">Lista de Usuarios</h2>
            <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 20px;">
                <mat-label>Buscar usuario</mat-label>
                <input matInput (keyup)="aplicarFiltro($event)" placeholder="Filtrar por nombre, correo o rol">
              </mat-form-field>
              
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
          
              <!-- Nombre Column -->
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.nombre}} </td>
              </ng-container>
          
              <!-- Correo Column -->
              <ng-container matColumnDef="correo">
                <th mat-header-cell *matHeaderCellDef> Correo </th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.correo}} </td>
              </ng-container>
          
              <!-- Rol Column -->
              <ng-container matColumnDef="rol">
                <th mat-header-cell *matHeaderCellDef> Rol </th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.rol}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="columnas"></tr>
              <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>
          </mat-card>
          
      </section>
    </div>
  </div>
  